cad/PCB/macro_pad/macro_pad-backups/*
cad/PCB/macro_pad/gerber/*
cad/PCB/macro_pad/gerber.rar
cad/PCB/macro_pad/report.txt
cad/PCB/macro_pad/_autosave*
cad/PCB/macro_pad/~_autosave*
cad/PCB/macro_pad/fp-info-cache
firmware/lib/README
firmware/test/README
firmware/include/README

software/configApp/obj/*
software/configApp/.vs/*
software/configApp/bin/*